<footer class="nav-click">
    <!-- <section>background photo by Sergei Gavrilov on Unsplash</section> -->
    <ul>
        <li><a href="#">学习内容</a></li>
        <li><a href="#">学习日志</a></li>
        <!-- <li><a href="#">联系我们</a></li>
        <li><a href="#">FAQ</a></li> -->
        <!-- <li><a href="#">鸣谢</a></li> -->
    </ul>

</footer>

<script>
    const navLi = document.querySelectorAll('.nav-click ul li');
    navLi.forEach(li => {
        li.addEventListener('click', evt => li.querySelector('a').click());
    });
</script>