<nav role="navigation" class="nav-click">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <ul>
        <li><a href="/"><i class="fa fa-home"></i><span class="mobile-hide">主页</span></a></li>

        <li><a href="#"><i class="fa fa-folder-open"></i><span class="mobile-hide">学习内容</span></a>
            <ul class="dropdown">
                <li><a href="/bass"><i class="fa fa-music"></i><span class="mobile-hide">BASS</span></a></li>
                <li><a href="#"><i class="fa fa-wordpress"></i><span class="mobile-hide">日文-单词</span></a></li>
                <li><a href="#"><i class="fa fa-google"></i><span class="mobile-hide">日文-语法</span></a></li>
                <li><a href="/fireworks"><i class="fa fa-google"></i><span class="mobile-hide">fireworks</span></a></li>
            </ul>
        </li>
        <li><a href="/blog/"><i class="fa fa-book"></i><span class="mobile-hide">学习日志</span></a></li>
        <li><a href="/cal"><i class="fa fa-calendar"></i><span class="mobile-hide">学习日历</span></a></li>
        <!-- <li><a href="#">FAQ</a> -->
    </ul>
    </li>
    </ul>
</nav>