<nav role="navigation" class="nav-click">
    <ul>
        <li><a href="/">主页</a></li>
        <li><a href="#">课程介绍</a>
            <ul class="dropdown">
                <li><a href="#">初级课程</a></li>
                <li><a href="#">中级课程</a></li>
                <li><a href="#">高级课程</a></li>
                <li><a href="#">术语</a></li>
                <li><a href="#">价目表</a></li>
            </ul>
        </li>
        <li><a href="#">教室日志</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">FAQ</a>
            <!-- <ul class="dropdown">
            <li><a href="#">非学员报名体验课</a></li>
            <li><a href="#">上课须知</a></li> -->
            </ul>
        </li>
    </ul>
</nav>