/* @import "{{ site.theme }}"; */


body {
    margin: 0;
    /* background-image: url('../img/sergei-gavrilov-528341-unsplash.jpg'); */
    /* background-image: url('../image/bruno-horwath-692469-unsplash.jpg'); */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-color: rgba(255, 255, 255, .25); */
    /* background-blend-mode: lighten; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body-container {
    margin: 0;
    background-image: url('../img/qw.png');
    /* background-image: url('../image/bruno-horwath-692469-unsplash.jpg'); */
    background-repeat: repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, .35);
    background-blend-mode: lighten;


}

#body-container article {
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
}

section#cate-tags {
    float:left;

}

#main_content_wrap p img[alt="school_map"] {
    width: 50%;
    float: right;
    margin-right: 5rem;


}

#main_content_wrap p img:not([alt="school_map"]) {
    /* float: left; */
    max-height: 15rem;
}

#main_content_wrap table {
    padding: 0;
    float: left;
    margin-right: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 3rem;
    width: 100%
}

#main_content_wrap a {
    color: darkorange;
}

/* #main_content_wrap ul{
    display: list-item;
    list-style: arabic-indic;
} */

#main_content_wrap ul li{
    font-size: 1rem;
    padding: 0;
    display: list-item;
    list-style: decimal;
    float: left;
    width: 100%;
}

#main_content_wrap img{
    max-width: 100%;
}

#main_content_wrap h1{
    float: left;
    width: 100%;
}

#main_content_wrap h3{
    float: left;
    width: 100%
}

#main_content_wrap h4{
    float: left;
    width: 100%
}

#main_content_wrap hr{
    float: left;
    width: 100%
}

table tr {
    border-top: 1px solid #cccccc;
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    /* background-color: #f8f8f8;  */
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}

#main_content p a {
    color: darkorange;


}

.post_background p img {
    max-height: 15rem;


}


.post_background div h2 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post_background div h3 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 0rem;
}

a {
    text-decoration: none;
}

nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 4.5rem;
}

.nav-click ul {
    /* background: darkorange; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.5rem;
}

.nav-click li {
    /* color: #fff; */
    color: black;
    /* background: darkorange; */
    display: block;
    float: left;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.nav-click li a {
    /* color: #fff; */
    color: black;
}

.nav-click li:hover {
    background: #e8efa5;
    cursor: pointer;
}

.nav-click li.page-item:hover{
    background: none;
    cursor: pointer;
}

.nav-click li a.page-link {
    /* color: white; */
    color: black;
}

.nav-click ul li ul {
    background: darkseagreen;
    visibility: hidden;
    opacity: 0;
    /* min-width: 13rem; */
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1.5rem;
    left: 0;
    display: none;
    font-size: 1.2rem;
}

.nav-click ul li:hover>ul,
.nav-click ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.nav-click ul li ul li {
    clear: both;
    /* width: 100%; */
    float: none;
}



footer {
    /* clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px; */
    /* position: absolute; */
    margin-bottom: 0rem;
    bottom: 0;
    width: 100%;
    height: 3.75rem;
    /* Height of the footer */
    background-color: rgba(255, 255, 255, .50);

}

footer section {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75rem;
    padding-top: 1.5rem;
    float: left;
    margin-left: 1rem;


}

footer ul {
    float: right;
}

footer ul li {
    padding: 1rem;
}

footer ul li a {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
}

.w-tag small{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-group a.list-group-item{
    color: darkorange;
}

.text-justify h3.m-t-3{
    font-size: larger;
    font-weight: bold;
}

ol {
    list-style: none;
}

ol li {
    float: none;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    padding-left: 0rem;
}

.dropdown {
    z-index: 10;
}

@media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none !important;
    }

    li {
        padding: 1rem;
    }

    li ul.dropdown li {
        padding: 1rem;
    }

    #main_content p {
        font-size: .75rem;
    }

    #main_content_wrap table {
        padding: 0;
        margin: 0;
        font-size: .5rem;
    }

}


ul li a span.mobile-hide{
    padding-left: .5rem;
}