<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <title>{{ page.title | site.title | default: site.github.repository_name }}</title>

</head>

<body>
  <div id="body-container" class='post_content post_background'>
    <div class="inner" style="overflow: hidden;">
      <!-- https://stackoverflow.com/questions/5369954/why-is-my-divs-height-zero -->

      {% include nav.html %}
      <article>
        {% include title_header.html %}

        <hr style="float:left;width:100%">



        <section id="main_content" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-indent:2rem; min-height:49rem;text-align:center;">
          {{ content }}

        </section>
        <section id="cate-tags">
          {% assign category = site.my_categories | where: "slug", page.category %}

          {% if category.size > 0 %}
          {% assign cate = category[0] %}
          {% capture category_content %}<a class="label" href="{{ cate.url }}" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size:small; color:darkorange;">{{
            cate.name }}</a>{% endcapture %}
          {% endif %}

          {% if page.tags.size > 0 %}
          {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>:
          {% endcapture %}
          {% for post_tag in page.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
          {% if tag.size > 0 %}
          {% assign t = tag[0] %}
          {% capture tags_content_temp %}{{ tags_content }}<a href="{{ t.url }}" style="color:darkorange; font-size:small">{{ t.name }}</a>{% if forloop.last ==
          false %}, {% endif %}{% endcapture %}
          {% assign tags_content = tags_content_temp %}
          {% endif %}
          {% endfor %}
          {% endif %}

          <p class="m-t-3 text-muted font-italic w-tag">
            {% if category.size > 0 %}
            <small>Posted
              in </small>{{ category_content }}<small>{{ tags_content }}</small>
            {% endif %}
          </p>
        </section>
      </article>
    </div>

    <!-- FOOTER  -->

    {% include footer.html %}

  </div>

  {% include google_analythics.html %}
</body>

</html>